.icon-container {
    font-size: 30px;
    color: #475476;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
    line-height: 0;
    background-color: #f6f6f6;
  }
  
  .icon-container svg {
    vertical-align: middle;
  }
  
  .bg-map{
    background-image: url('https://mb-demo1.myshopify.com/cdn/shop/files/contact-banner.jpg?v=1687412566&width=1920');
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .map-container {
    position: relative;
    margin-top: -144px; 
    z-index: 5; 
    border-radius:15px; 
    overflow: hidden;
  }